ai-_video_generation_agent_workflow.json
{
  "name": "Video Generations",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 80795a1d27839edab358544460f5f5bc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output[0].prompt }}\",\n  \"model\": \"veo3_fast\",\n  \"watermark\": \"MyBrand\",\n  \"aspect_ratio\": \"16:9\",\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"TEXT_2_VIDEO\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -192
      ],
      "id": "f27e00c8-5b0c-4ee3-92e9-b2a31dbdc843",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 80795a1d27839edab358544460f5f5bc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -192
      ],
      "id": "fa3608ae-a017-4c5f-890e-dc85c4e4e29b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        -192
      ],
      "id": "12f4e9aa-4f28-42cb-bc4e-f4fa458927f7",
      "name": "Wait",
      "webhookId": "1c0206e0-9d86-47a3-954a-3fab193fae0f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b61d8d64-f01d-49b9-980a-7558dc52e056"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eff91b02-2e38-49fa-9809-16008907e6cc",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1f521b7-0b24-4852-a95e-7449a1eb0fa6",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c40056ca-7ba0-4633-9439-ede5ae95889c",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        544,
        -224
      ],
      "id": "66b9c9d4-63de-491c-905f-babf7c1ae3f5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ",
          "mode": "list",
          "cachedResultName": "Veo 3 Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " 1st URL ": "={{ $json.data.response.resultUrls[0] }}"
          },
          "matchingColumns": [
            " 1st URL "
          ],
          "schema": [
            {
              "id": " 1st URL ",
              "displayName": " 1st URL ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -240
      ],
      "id": "074014cc-acd4-42fb-a861-d8926602bf84",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vnfg4FKLS870Ajqz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Give Video Idea",
        "formDescription": "Please fill the form ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Writ  Idea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1024,
        -80
      ],
      "id": "340fc32c-7491-4914-9d61-a15284e0b333",
      "name": "On form submission",
      "webhookId": "b4218179-6f76-4cb7-a043-07c8d2f1e15f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Writ  Idea'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Purpose\nYou are an expert Video Generation AI Agent. Your primary task is to take a raw video idea or concept from the user and expand it into exactly two (2) highly detailed, visual, and sequential scenes that a video generation model (like Runway, Sora, or Pika) can easily render.\n\n# Guidelines & Structure\nFor every idea provided by the user, you must output exactly two scenes. Each scene must be structured as follows:\n\n### Scene 1: [Short Title describing the scene]\n- **Visual Description:** [Detailed prompt specifying the environment, lighting, camera angle, character actions, and art style. Avoid abstract concepts; focus on what can be seen.]\n- **Camera Movement:** [e.g., Cinematic slow pan, drone shot, zoom-in, tracking shot]\n- **Mood/Atmosphere:** [e.g., Dramatic, cinematic, neon-lit, cyberpunk, serene, high-suspense]\n\n### Scene 2: [Short Title describing the continuation or contrast]\n- **Visual Description:** [Detailed prompt showing the logical progression from Scene 1, keeping visual consistency.]\n- **Camera Movement:** [Specify camera motion for this scene]\n- **Mood/Atmosphere:** [Specify mood]\n\n# Constraints\n- Strict Output: Output ONLY the two scenes following the structure above. Do not include introductory text like \"Sure, here are your scenes\" or conversational filler.\n- Be highly descriptive: Use vivid, visual keywords rather than generic terms.\n- Consistency: Ensure characters, objects, and the overall style remain consistent between Scene 1 and Scene 2.\n-"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        -80
      ],
      "id": "a9c7f329-6e1f-4e43-bc78-28eb76f50d4e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -880,
        80
      ],
      "id": "94bf53cf-3360-4e6f-9bf9-bc58c41f9ea1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "O0cg0an1CTeOdvJi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scene_1: {{ $json.output[0].prompt }} \nScene_2: {{ $json.output[1].prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Purpose\nYou are an AI Video Prompt Enhancer. Your ONLY job is to take the two scenes from the input data and enhance them specifically for an 8-second cinematic video.\n\n# Constraints & Rules\n- Keep the exact original text and core idea intact. Do NOT change the story, concept, or characters.\n- Only enrich the descriptions by adding cinematic pacing, smooth motion, and details suitable to cover an 8-second duration.\n- Maintain the exact JSON array format with \"scene_number\" and \"prompt\".\n- Do NOT output any conversational text, notes, markdown blocks, or extra fields. Return ONLY the final JSON data.\n-"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -496,
        -80
      ],
      "id": "4a109ae7-0b59-4bb2-83f3-c43e81056524",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        80
      ],
      "id": "981327d6-e071-4e74-995d-98ba0ada6c2a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O0cg0an1CTeOdvJi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"scene_number\": {\n        \"type\": \"number\"\n      },\n      \"prompt\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"prompt\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -720,
        80
      ],
      "id": "7d873b8c-8ccf-442a-9db2-c45db61f29f7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"scene_number\": {\n        \"type\": \"number\"\n      },\n      \"prompt\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"prompt\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -400,
        80
      ],
      "id": "1aa8af08-18cd-4b42-9315-1c7b0f24d8d9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 80795a1d27839edab358544460f5f5bc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output[1].prompt }}\",\n  \"model\": \"veo3_fast\",\n  \"watermark\": \"MyBrand\",\n  \"aspect_ratio\": \"16:9\",\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"TEXT_2_VIDEO\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        80
      ],
      "id": "dbb3e7fa-86e0-4463-90cb-25ae82675eb8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 80795a1d27839edab358544460f5f5bc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        80
      ],
      "id": "5db3a48d-8eb3-4e90-b56a-91944ec27409",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        80
      ],
      "id": "bfc32ea9-589c-4027-9c9b-696cd265288c",
      "name": "Wait1",
      "webhookId": "1c0206e0-9d86-47a3-954a-3fab193fae0f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b61d8d64-f01d-49b9-980a-7558dc52e056"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eff91b02-2e38-49fa-9809-16008907e6cc",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1f521b7-0b24-4852-a95e-7449a1eb0fa6",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c40056ca-7ba0-4633-9439-ede5ae95889c",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        544,
        48
      ],
      "id": "bd6cc341-0220-4dae-ad16-5bb39ecdfe75",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ",
          "mode": "list",
          "cachedResultName": "Veo 3 Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fl5554ZSj3oyhPVw6WJ2GGm08l2gjfsgfloni0Zl7tQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " 1st URL ": "={{ $json.data.response.resultUrls[0] }}"
          },
          "matchingColumns": [
            " 1st URL "
          ],
          "schema": [
            {
              "id": " 1st URL ",
              "displayName": " 1st URL ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        192
      ],
      "id": "55cdfc66-2ff8-4bd9-a1b4-849777c6fd6e",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vnfg4FKLS870Ajqz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        -48
      ],
      "id": "69ab177b-74b0-407d-9ccc-5d95207b9e5b",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        -16
      ],
      "id": "53ac1391-bf12-41af-b3aa-d2cbb9ce5a89",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Writ  Idea": "Generata a ai engineer roadmap video",
          "submittedAt": "2026-06-16T07:31:06.233-04:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7c73b393-1b50-4f1e-bf8a-2787bf13ab7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "caaee41ca68e14fac94290ca161cce19a1f38019e7ee14ba90c71a535488b335"
  },
  "id": "etYe9k2IBna4vd3g",
  "tags": []
}